<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/css/indexStyle.css">
</head>
<body>
<div class="top">
    <div class="header">
        <div class="logo">CET</div>
        <div class="text">
            <p>全国大学英语四、六级考试(CET)<br>
                College English Text Band4 and Band6</p></div>
        <div class="contract">
            <p>客服电话 <br><span>010-62987880</span> </p>
        </div></div></div>
<div class="middle">
    <div class="nav">
        <ul>
            <li><img src="../img/1.png">&nbsp &nbsp &nbsp首页</li>
            <li>考试简介</li>
            <li>考生须知</li>
            <li>考试时间</li>
            <li>报名流程</li>
            <li>常见问题</li>
            <li>特别提示</li>
        </ul></div>

    <div class="photo">
        <img src="image/2.png" style="padding-top:5px;width:100%">
        <div class="photo2"><img src="image/3.png"></div>
    </div>
</div>

<div class="bottom">
    <div class="col-1">
        <ul>
            <li><a href="#"><img src="../image/banner1.png"><p>进入报名</p>
                <p>ENTER</p>
            </a></li>
            <li><a href="#"><img src="image/banner2.png">注册新用户</a></li>
            <li><a href="#"><img src="image/banner3.png">找回已报名账号</a></li>
            <li><a href="#"><img src="image/banner4.png">补办成绩证明</a></li>
            <li><a href="#"><img src="image/banner5.png">快速打印准考证</a></li>
        </ul>
    </div>
    <div class="col-2">
        <img src="image/5.png">
    </div>
    <div class="col-3">
        <img src="image/4.jpg">
        <h4>2018年下半年考试时间</h4>
        笔试：2018-12-15<br>
        上午：英语四级<br>
        下午：英语六级<br>
        口试：<br>
        2017-11-17：英语四级 &nbsp &nbsp 2018-11-18:英语六级
        <hr>
        <h4>2018年下半年考试报名提示</h4>
        1：2018年下半年考试报名仅限<span>北京、天津、河北、吉林、上海、安徽、河南、湖北、山东、福建、广东、广西、海南、重庆、四川、云南、甘肃、青海、澳门(口语)</span><br>
        2：报名未开始前，考生可进行注册及学籍信息验证操作，具体报名时间以各学校通知为准。<br>
        3：已完成CET4或CET6考试科目报名及缴费后，由于口语考位已满或暂未开放，可能会造成暂时无法报考对应口语科目，请随时再次登录系统进行查看。<br>
        4：<span>预计9月17日9:30，9月18日9:30，9月19日11:30，9月26日13:00及14:30,9月27日10:00为报名高峰时段，请各位考生结合自身情况，选择错峰报名，如遇网络拥堵，请稍后再试。</span><br><br>

    </div>
</div>


<div class="footer">
    <hr>
    <p class="p1">COPYRIGHT 中华人民共和国教育部考试中心 All RIGHTS RESERVED
    <p class="p2">京ICP备05031027号 (Powered by :49100493)</p>
    <p class="p3">建议浏览器：火狐浏览器、谷歌浏览器、IE9+、360浏览器（选择极速模式）</p>
</div>
</body>
</html>