<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
<body>
<form class="form-horizontal" style="margin: auto;">
    <fieldset>
        <div id="legend" class="">
            <legend class="">考试信息填写</legend>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">姓名</label>
            <div class="controls">
                <input type="text" placeholder="placeholder" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">性别</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">身份证号码</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">出生日期</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">就读大学</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">联系电话</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">Email</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block"></p>
        </div>
    </div><div class="control-group">

        <!-- Select Basic -->
        <label class="control-label">考点选择</label>
        <div class="controls">
            <select class="input-xlarge">
                <option>西南科技大学</option>
                <option>四川大学</option></select>
        </div>

    </div>
        <div class="control-group">
            <label class="control-label"></label>

            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">确认</button>
                <button class="btn btn-info">取消</button>
            </div>
        </div>


    </fieldset>
</form>
</body>
</html>