<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>注册</title>
</head>
<body>
<form action="" method="post">
    <label>用户名:</label><input type="text" name="username" /></br>
    <label>密码:</label><input type="password" name="password" /></br>
    <label>确认密码:</label><input type="password" name="password2" /></br>
    <label>真实姓名:</label><input type="text" name="realname" /></br>
    <input type="submit" value="注册">
</form>
</body>
</html>