<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>注册</title>
    <style>
        form{
            position: relative;
            left:40%;
            top: 100px;
            width: 500px;
        }
        input{
            width: 100%;
            height: 40px;
        }
    </style>
</head>
<body>
<form action="" method="post">
<!--    <label>用户名:</label>-->
    <input type="text" name="username" Placeholder="用户名"/></br>
<!--    <label>密码:</label>-->
    <input type="password" name="password" Placeholder="密码" /></br>
<!--    <label>确认密码:</label>-->
    <input type="password" name="password2" Placeholder="确认密码" /></br>
<!--    <label>真实姓名:</label>-->
    <input type="text" name="realname" Placeholder="真实姓名"/></br>
    <input type="submit" style="width: 500px;" value="注册">
</form>
</body>
</html>